.login__form {
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
}
.login__field {
  display: flex;
  flex-direction: column;
}
.login__field--up {
  display: flex;
}
.login__label {
  flex: 1;
}
.login__input {
  width: 160px;
  flex: 1;
  margin-right: 20px;
  border: 1px solid black;
}

.login__input--err {
  margin-right: 20px;
  width: 160px;
  border: 1px solid red;
}
.login__input--err:focus {
  outline-color: red;
}
.login__error {
  margin-top: 4px;
  height: 28px;
}
.login__submit {
  background-color: rgb(183, 183, 252);
  width: 260px;
  height: 25px;
  border: none;
}
.login__submit:hover {
  cursor: pointer;
  background-color: rgb(164, 164, 255);
}
