.side {
  padding: 0px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(1, 1, 1, 0.1);
  height: 100%;
}
.side__tittle {
  padding: 5px;
}
.side__email {
  font-size: 14px;
  padding: 5px;
}
.side__reset {
  font-size: 13px;
  padding-top: 5px;
}
@media only screen and (max-width: 374px) {
  .side {
    position: relative;
    max-height: 30px;
    overflow: hidden;
    z-index: 2;
    background-color: white;
    transition: all 0.8s;
  }
  .side:hover {
    cursor: pointer;
    display: block;
    max-height: 110px;
    z-index: 3;
  }
  .routes__container {
    position: absolute;
    top: 80px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
